<poke-search (emitSearch)="getSearch($event)"></poke-search>
<div class="flex align-items-center justify-content-center mt-2 mt-6" *ngIf="isError; else notError">
  <img src="/assets/error.svg" alt="" class="w-10">
</div>
<ng-template #notError>
  <div class="grid mt-2">
    <div class="col-12 lg:col-6" *ngFor="let pokemon of getAllPokemons" [ngClass]="{'lg:col-12':getAllPokemons.length == 1}">
      <content-list-loader *ngIf="isLoading; else showPokemons"></content-list-loader>
  
      <ng-template #showPokemons>
        <a
        class="p-3 border-round-sm no-underline cursor-pointer bg-white font-bold text-cyan-900 flex justify-content-between align-items-center h-8rem"
        *ngIf="pokemon.status"
        [routerLink]="['details', pokemon.status.id]"
      >
        <div class="flex-1">
          <h2 class="capitalize">{{ pokemon.name }}</h2>
          <p
            class="w-3 bg-yellow-500 px-4 border-round font-bold text-center capitalize"
            *ngFor="let value of pokemon.status.types"
          >
            {{ value.type.name }}
          </p>
        </div>
  
        <img
          [src]="pokemon.status.sprites.other.dream_world.front_default"
          [alt]="pokemon.name"
          class="mr-5 w-2"
        />
      </a>
      </ng-template>
    </div>
    
    <div class="card flex justify-content-center align-items-center mx-auto mt-2 col-12" *ngIf="getAllPokemons.length">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="offset"
        [rows]="limit"
        [totalRecords]="totalPokemonsRecord"
      ></p-paginator>
    </div>
  </div>
</ng-template>
