<div class="grid">
  <div class="col-6">
    <div class="p-3 border-round-sm bg-white grid">
      <div class="col-6 text-cyan-900">
        <h2>Bulbasaur</h2>
          <p class="w-3  bg-yellow-500 px-4 border-round font-bold">Grass</p>
          <p class="w-3  bg-yellow-500 px-4 border-round font-bold">Poison</p>
      </div>
      <div
        class="col-6 flex align-items-center justify-content-center bg-icons"
      >
        <img src="/assets/pokemon.svg" alt="bulbasaur" />
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="p-3 border-round-sm bg-white grid">
      <div class="col-6 text-cyan-900">
        <h2>Bulbasaur</h2>
          <p class="w-3  bg-yellow-500 px-4 border-round font-bold">Grass</p>
          <p class="w-3  bg-yellow-500 px-4 border-round font-bold">Poison</p>
      </div>
      <div
        class="col-6 flex align-items-center justify-content-center bg-icons"
      >
        <img src="/assets/pokemon.svg" alt="bulbasaur" />
      </div>
    </div>
  </div>
</div>

<!-- <div class="bg-white col-6 mb-5 border-round grid">
    <div class="col-6 text-cyan-900">
        <h2>Bulbasaur</h2>
        <p class="w-3 bg-yellow-500 px-4 border-round font-bold">Grass</p>
        <p class="w-3 bg-yellow-500 px-4 border-round font-bold">Poison</p>
    </div>
    <div class="col-6 flex align-items-center justify-content-center bg-icons">
        <img src="/assets/pokemon.svg" alt="bulbasaur">
    </div>
</div>

<div class="bg-white col-6 mb-5 border-round grid">
    <div class="col-6 text-cyan-900">
        <h2>Bulbasaur</h2>
        <p>Grass</p>
        <p>Poison</p>
    </div>
    <div class="col-6 flex align-items-center justify-content-center">
        <img src="/assets/pokemon.svg" alt="bulbasaur">
    </div>
</div> -->
